body {
    font-family: "Montserrat";
}

h1 { 
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: whitesmoke;
}

h3 {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 400;
    color: whitesmoke;
}

h4 {
    color: grey;
}

p {
    color: rgb(180, 180, 180);
}

hr {
    margin: 75px auto 20px auto;
    border-style: dotted none none none;
    border-color: rgba(200, 200, 200, 0.698);
    border-width: 5px;
    width: 5%;
}

.centered {
    text-align: center;
}

.btn {
    padding: 2% 3%;
    margin: 3% 2%;
}

.navbar-brand {
    padding: 0 20px;
}

.event {
    font-family: 'Roboto', sans-serif;
    font-size: 6.5vw;
    max-width: 75%;
    color: whitesmoke;
}

.title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    color: whitesmoke;
    padding: 0 0 150px 0;
}

.nav-font-size {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 1.2rem;
}

.nav-item {
    padding: 0 20px;
}

.nav-height {
    min-height: 200px;
}

.head-image {
    filter: invert(100%);
    width: 275px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.feature-box {
    padding: 30px 5%;
}

.weight-bold {
    font-weight: bold;
}

.icon-color {
    color: whitesmoke;
    margin-bottom: 1.5rem;
}

.icon-color:hover {
    color: rgb(255, 121, 73);
}

.carousel-img {
    width: auto;
    max-width: 75%;
    height: 400px;
    border-radius: 100%;
    margin: 20px;
}

#container-nav {
    padding: 3% 4% 3% 10%;
}

#container-wide {
    padding: 3% 6%
}

#title {
    background-image: linear-gradient(black, rgb(54, 54, 54), grey, black);
}

#crowd {
    height: 500px;
    object-fit: cover;
    display: block;
    width: 100%;
}

#head-title {
    text-align: center;
    font-size: 2.75rem;
    padding-bottom: 40px;
}

#head-text {
    text-align: center;
    font-size: 3vw;
    padding-bottom: 40px;
}

#exp {
    padding: 0 5%;
}

#features {
    background-color: black;
    padding: 10% 6% 2% 6%;
    text-align: center;
}

#carousel {
    background-color: black;
    padding: 2% 6% 2% 6%;
}