body {
    font-family: "Montserrat";
}

h1 { 
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: whitesmoke;
}

h2 {
    padding-bottom: 20px;
}

h3 {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 400;
    color: whitesmoke;
}

h4 {
    color: grey;
}

p {
    color: rgb(230, 230, 230);
    padding: 0 5%;
}

hr {
    margin: 75px auto 20px auto;
    border-style: dotted none none none;
    border-color: rgba(199, 199, 199, 0.698);
    border-width: 5px;
    width: 5%;
}

.centered {
    text-align: center;
}

.left-alligned {
    text-align: left;
}

.right-alligned {
    text-align: right;
}

.btn {
    padding: 2% 3%;
    margin: 3% 2%;
}

.navbar-brand {
    padding: 0 20px;
}

.event {
    font-family: 'Roboto', sans-serif;
    font-size: 6.5vw;
    max-width: 75%;
    color: whitesmoke;
}

.title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 5.5vw;
    color: whitesmoke;
    padding: 0 0 40px 0;
}

.nav-font-size {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 1.2rem;
}

.nav-item {
    padding: 0 20px;
}

.nav-height {
    min-height: 200px;
}

.head-image {
    filter: invert(100%);
    width: 220px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.feature-box {
    padding: 30px 5%;
}

.weight-bold {
    font-weight: bold;
}

.icon-color {
    color: whitesmoke;
    margin-bottom: 1.5rem;
}

.icon-color:hover {
    color: rgb(255, 121, 73);
}

.carousel-img {
    width: auto;
    height: 22vw;
    border-radius: 100%;
    margin: 20px;
}

.card-head-font {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    color: black;
}

.signup-price {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
}

.card-item {
    color: black;
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 400;
}

.card-btn {
    width: 80%;
}

@media (max-width: 768px) {
    .publish-text {
        text-align: center;
    }
    .box-padding {
        padding: 3px 0 30px 0;
    }
}

.publish-btn {
    padding: 25px 45px;
    margin: 30px 0;
}

#container-nav {
    padding: 3% 4% 3% 10%;
}

#container-wide {
    padding: 3% 6%
}

#title {
    background-image: linear-gradient(black, rgb(54, 54, 54), grey, black);
}

#signup {
    background-image: linear-gradient(black, rgb(61, 61, 61), grey, rgb(61, 61, 61), black);
}

#crowd {
    height: 500px;
    object-fit: cover;
    display: block;
    width: 100%;
}

#head-title {
    text-align: center;
    font-size: 3vw;
    padding-bottom: 40px;
}

#head-text {
    text-align: center;
    font-size: 3vw;
    padding-bottom: 40px;
}

#exp {
    padding: 0 5%;
}

#features {
    background-color: black;
    padding: 10% 6% 2% 6%;
    text-align: center;
}

#event-link:hover {
    color: orangered;
}

#carousel {
    background-color: black;
    padding: 2% 6% 2% 6%;
}

#publish {
    background-color: black;
}